body{
    margin:50px 0px 0px 0px;
    z-index: 0;
}

.jumbotron{
    background-color: purple;
    color: floralwhite;
    margin-bottom: 0rem !important;
}
.row-content{
    padding: 50px 0px 50px 0px;
}
.custom-padding{
    padding: 40px 0px 40px 0px;
}
.footer{
    background-color: #dfcadf;
}

@media screen and (min-width:360px) and (max-width:575px){
    .row-content{
        padding: 20px 0px 20px 0px;
    }
    .custom-padding{
        padding: 15px 0px 30px 0px;
    }
}