body{
    margin:50px 0px 0px 0px;
    z-index: 0;
}
html{
    scroll-behavior: smooth;
}

.jumbotron{
    background-color: rgb(43, 2, 34);
    color: floralwhite;
    padding: 70px 30px 70px 30px;
    margin-bottom: 0rem;
}
.address{
    font-size:80%;
    columns: #fff;
    margin:0px;
}
.custom-padding{
    padding: 40px 0px 40px 0px;
    min-height: 300px;
    border-bottom:1px ridge;
}
.footer{
    background-color: #dfcadf;
}
.fa-home, .fa-info, .fa-list, .fa-address-card{
    color:purple !important;
}
.navbar{
    background-color: rgb(66, 8, 66);
}
.navbar-nav .nav-link{
    color: gray;
    font-weight: 500;
    cursor: pointer;
}
.navbar-nav .active{
    color:#fff;
}
.navbar-nav .nav-item .nav-link:hover{
    color:rgb(221, 185, 213);
}
.card-header h3 a{
    text-decoration: none;
    cursor: pointer;
    color:#000;
}
h2{
    color:purple;
}

@media screen and (min-width:360px) and (max-width:575px){
    .row-content{
        padding: 20px 0px 20px 0px;
    }
    .custom-padding{
        padding: 15px 0px 30px 0px;
    }
}